.row {
  color: #fff;
  margin-left: 20px;
}

.row_posters {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px;
}

.row_posters::-webkit-scrollbar {
  display: none;
}

.row_poster {
  object-fit: contain;
  width: 100%;
  max-height: 100px;
  margin-right: 10px;
  transition: transform 450ms;
}

.row_poster:hover {
  transform: scale(1.1);
}

.row_posterLarge {
  max-height: 250px;
}

.row_posterLarge:hover {
  transform: scale(1.11);
}

@media (max-width: 600px) {
  /* Make the movie posters responsive */
  .row_poster {
    width: 100%; /* Ensure posters fill the row on mobile */
  }

  /* Adjust the trailer video size for mobile */
  .row_posterLarge {
    width: 80%;
  }

  /* Make the movie descriptions responsive */
  .banner_description {
    font-size: 1rem;
  }

  .row_posters {
    margin-left: -20px;
  }
}
